/* ============
*   Fonts
============ */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Poppins:wght@100;200;300;400&family=Simonetta&display=swap');


/* ============
*   Vars
============ */
:root {
    /* colors */
	--color-selection: #fff;
    --white: #fff;
    --black: #111;
    --purple-600: #8f7193;
    --purple-500: #a788ab;
    --purple-400: #cb95cf;
    --purple-300: #c0a0c3;
    --purple-200: #dfcae1;
    --purple-100: #e5dde6;

    /* gradients */
    --gradient-purple: -webkit-linear-gradient(115deg, #CB95CF 35%, #AB82B5 100%, #F0B8FF 53%);
    --gradient-purple-dark: -webkit-linear-gradient(115deg, #8f7193 35%, #a788ab 100%, #c0a0c3 53%);
    --gradient-purple-light: -webkit-linear-gradient(115deg, #e5dde6 35%, #dfcae1 100%, #cb95cf 53%);

    /* fonts */
    --font-primary: 'Simonetta', cursive;
    --font-secondary: 'Poppins', sans-serif;

    /* font sizes */
    --font-size-small: 1.2rem;
    --font-size-medium: 1.4rem;
    --font-size-large: 1.6rem;
    --font-size-xlarge: 1.8rem;
    --font-size-xxlarge: 2.4rem;

    /* font weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* line heights */
    --line-height-small: 1.2;
    --line-height-medium: 1.4;
    --line-height-large: 1.6;
    --line-height-xxlarge: 2.0;
    

    /* letter spacing */
    --letter-spacing-small: 0.1rem;
    --letter-spacing-medium: 0.2rem;
    --letter-spacing-large: 0.3rem;
    --letter-spacing-xlarge: 0.4rem;
}

/* ============
*   General 
*    Styles
============ */
*::selection {
	background-color: #ADE1F5;
	color: var(--color-selection);
}

html {
    scroll-behavior: smooth;  
}

body {
    min-height: 100vh;
    font-family: var(--font-secondary);
    font-size: 14px;
}

body.dark {
    background-color: var(--black);
    color: var(--white);
}

html, body, #root {
    width: 100%;
}

/* html {
    font-size: 78.5%;
} */

a {
   text-decoration: none; 
}

h1, h2,
h3, h4,
h5, h6 {
    font-family: var(--font-primary);
    letter-spacing: var(--letter-spacing-medium);
}
h1 {
    font-size: var(--font-size-xxlarge);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-xlarge);
}
h2 {
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-large);
}
h3 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-medium);
}
h4 {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-small);
}
h5, h6 {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-small);
}

p, 
a,
ol,
address
{
    font-size: var(--font-size-small);
    letter-spacing: var(--font-spacing-medium);
    line-height: var(--line-height-medium);
}

/* ============
*   Global
*    Classes
============ */
.image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.btn {
    border: 0;
    border-radius: 3px;
    background-color: var(--purple-400);
    color: var(--white);
    padding: 0.5rem 1rem;
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    letter-spacing: var(--letter-spacing-medium);
    cursor: pointer;
}

#menu-bar {
    display: none;
    font-size: large;
}

.video {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.scroll-top {
    display: none;
    position: absolute;
    bottom: 45px;
    right: 12px;
    width: 20px;
    height: 20px;
}

.scroll-top i {
    transform: translateX(6px);
}


/* ============
*   Page
============ */
.page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-height: 100vh;
}

@media (min-width: 768px) {
    .page {
        flex-direction: column;
    }

    .page__header {
        flex-direction: column;
        justify-content: space-between;
    }
}


/* ============
*   Page
*    Header
============ */
.page__header {
    display: flex;  
    flex-direction: column;
    flex: 1;
    color: var(--white);
}

.center {
    display: flex;
    flex-direction: row;
    flex: 1;}

.logo-header {
    max-width: 100%;
    height: auto;
    border-radius: 0px;
}

.menu-bar {
    margin: 12px 0;
}

@media (max-width: 420px) {
    html {
        font-size: 67.9%;
    }
    .logo-header {
        max-width: 100%;
        height: 272px;
        object-fit: cover;
    }
}
@media (min-width: 460px) {
    .logo-header {
        height: 198px!important;
    }
}
@media (min-width: 768px) {
    .logo-header {
        max-width: 100%!important;
        height: auto!important;
    }
}

.dark-mode {
    background-image: url("../image/dark-mode.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.navbar {
    padding: 2.2rem 0;
    background: var(--purple-400);
}

.navbar .list-links {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.list-item__link {  
    font-size: var(--font-size-medium);
    color: var(--white);
    letter-spacing: var(--letter-spacing-small);
    display: inline-block;
    position: relative;
}

.list-item__link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--purple-500);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.list-item__link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
    
@media (max-width: 375px) {
    .navbar.active {
        height: 457px!important;
    }
}
	
@media (max-width: 1024px) {
    .list-item__link {
        font-size: var(--font-size-medium);
    }
    #menu-bar {
        display: block;
        position: absolute;
        right: 17px!important;
        top: 5px;
    }

    .navbar {
        display: none;
    }

    .navbar.active {
        top: 83px;
        left:  0px;
        display: block;
        z-index: 0;
        width: 100%;
        height: 527px;
        padding: 0.3rem 0;
    }
    .navbar.active + .box-google-translate .menu-bar {
        top: -532px!important;
        z-index: 3;
    }
    .navbar.active .list-links {
        display: inline-block;
    }

    .navbar.active .list-links .list-item {
        border-bottom: 2px solid white;
        padding: 16px 0;
        padding-left:  26px;
    }

    .list-item .list-item__link {
        cursor: pointer;
    }
}


/* ============
* Box 
*   Google 
*     translate
============ */
body.dark .box-google-translate { 
    background-color: var(--purple-500);
}

.box-google-translate {
    height: 37px;
    background: #f2e6e6;
    padding: 16px!important;
    position: relative;
}

#google_translate_element {
    display: none;
}

.language {
    position: relative;
    width: 120px;
    margin-left: 40px;
    font-weight: bold;
    background-color: #111;
    padding: 5px 10px;
}
.language-selected {	
    display: flex;   
    align-items: center;
    color: #fff;
    cursor: pointer;
    line-height: 25px;  
}
.language-selected:before {
    content: '';
    display: inline-block;
    width: 42px;
    height: 30px;
    background-image: url('https://countryflagsapi.com/png/br');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.language-selected.change-br:before {
    background-image: url('https://countryflagsapi.com/png/br');
}
.language-selected.change-en:before {
    background-image: url('https://countryflagsapi.com/png/usa');
}
.language-selected.change-es:before {
    background-image: url('https://countryflagsapi.com/png/es');
}

.language ul {
    position: absolute;
    width: 140px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    padding-top: 10px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    display: none;
}

.language ul li a {
    display: block;
    color: #252525;
    padding: 5px 10px;
}

.language ul li:hover {
    background-color: #f8f8f8;
}

.language ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px; 
}

a.br:before {
    background-image: url('https://countryflagsapi.com/png/br');
}
a.en:before {
    background-image: url('https://countryflagsapi.com/png/usa');
}
a.es:before {
    background-image: url('https://countryflagsapi.com/png/es');
}

.language:hover ul {
    display: block;
}



/* ============
*   Page 
*    Content
============ */
.page-content {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.6rem;
}


/* ============
*   Hero
============ */
.hero-container {
    width: 100%;
    height: 96vh;
    margin-bottom: 2.4rem;
    background-color: var(--purple-400);
}

body.dark .hero-container {
    background-color: var(--purple-600);
}

.hero {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
}

.hero-content {
    padding: 0px 2.45rem;
}

.container {
    max-width: 85%;
    padding: 0 1.9rem;
}

@media (max-width: 620px) { 
    .container {
        max-width: 85%;
    }
}


/* ============
*   Section
*    Header
============ */
.section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    gap: 2.2rem;
    margin-bottom: 3.45rem;
}

.section-header__heading {
    font-size: var(--font-size-xxlarge);
    padding-bottom: 1.2rem;
    text-decoration: underline;
    text-decoration-color: var(--purple-600);
}

body.dark .section-header__heading {
    text-decoration-color: var(--purple-500);
}

.section-header__subheading {
    color: rgb(66, 64, 64);
}

body.dark .section-header__subheading {
    color: rgb(112, 112, 112);
}

.section-header__tts-box audio {
    width: 80%;
}

@media (max-width: 320px) {
    .section-header__video-box iframe {
        height: 200px;
    }
}
@media (max-width: 768px) {
    .section-header__video-box iframe {
        height: 291px;
    }
}
@media (min-width: 967px) {
    .section-header__video-box iframe {
        height: 540px;
        max-height: 600px;
    }
}

.content p {
    text-indent: 28pt;
    letter-spacing: var(--letter-spacing-small);
    line-height: var(--line-height-xxlarge);
    margin-top: 1.45rem;
    text-align: justify;
}


/* ============
*   Footer
============ */
.page__footer {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-items: center;
    background: #8F7193;
    min-height: 250px;
}

.footer-credits {
    border-right: 2px solid var(--purple-300);
    padding: 3rem;
    padding-bottom: 1rem;
}

.logo-footer {
    font-family: var(--font-primary);
    margin-bottom: 2rem;
    color: var(--white);
    border-radius: 5px;
}

.footer-services {
    width: 100%;
}

.footer-services h4 {
    padding-left: 3rem;
    font-family: var(--font-primary);
    margin-bottom: 2rem;
    color: var(--white);
}

.list-services .list-item {
    padding: 0.46rem 0;
}

.list-services .list-item .list-item__link {
    font-size: var(--font-size-small);
}

.credit {
    font-size: var(--font-size-small);
    color: var(--white);
    text-align: left;
}
.credit strong{
    font-weight:  var(--font-weight-bold);
    font-family:  var(--font-primary);
}

@media (max-width: 620px) {
    .help-container > div {
        max-width: 200px;
    }
    .help-container > div > img {
        width: 100%!important;
        object-fit: contain;
    }

    .page__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
    }

    .footer-credits {
        border-right: none;
    }

    .footer-services .list-services {
        padding: 0rem 3rem;
    }

    .section-header__tts-box audio {
        width: 100%;
    }
}


/* ============
*   Scroll
*    Top
============ */
#scroll-top{
    position: fixed;
    transition: .5s linear;
    z-index: 1000;
    right: 2%;
}

#scroll-top.active{
    top:calc(100% - 12rem);
    display:  initial;
}
