/* ============
*   Fonts
============ */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Poppins:wght@100;200;300;400&display=swap');


/* ============
*   Vars
============ */
:root {
    /* colors */
    --white: #fff;
    --black: #111;
    --purple-600: #8f7193;
    --purple-500: #a788ab;
    --purple-400: #cb95cf;
    --purple-300: #c0a0c3;
    --purple-200: #dfcae1;
    --purple-100: #e5dde6;

    /* gradients */
    --gradient-purple: -webkit-linear-gradient(115deg, #CB95CF 35%, #AB82B5 100%, #F0B8FF 53%);
    --gradient-purple-dark: -webkit-linear-gradient(115deg, #8f7193 35%, #a788ab 100%, #c0a0c3 53%);
    --gradient-purple-light: -webkit-linear-gradient(115deg, #e5dde6 35%, #dfcae1 100%, #cb95cf 53%);

    /* fonts */
    --font-primary: 'Dancing Script', cursive;
    --font-secondary: 'Poppins', sans-serif;

    /* font sizes */
    --font-size-small: 1.2rem;
    --font-size-medium: 1.4rem;
    --font-size-large: 1.6rem;
    --font-size-xlarge: 1.8rem;
    --font-size-xxlarge: 2.4rem;

    /* font weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* line heights */
    --line-height-small: 1.2;
    --line-height-medium: 1.4;
    --line-height-large: 1.6;
    --line-height-xlarge: 1.8;

    /* letter spacing */
    --letter-spacing-small: 0.1rem;
    --letter-spacing-medium: 0.2rem;
    --letter-spacing-large: 0.3rem;
    --letter-spacing-xlarge: 0.4rem;
}

/* ============
*   General 
*    Styles
============ */
html {
    scroll-behavior: smooth;   
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    font-family: var(--font-secondary);
    font-size: 14px;
}

html, body, #root {
    width: 100%;
}

a {
   text-decoration: none; 
}

h1, h2,
h3, h4,
h5, h6 {
    font-family: var(--font-primary);
    letter-spacing: var(--letter-spacing-medium);
}
h1 {
    font-size: var(--font-size-xxlarge);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-xlarge);
}
h2 {
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-large);
}
h3 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-medium);
}
h4 {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-small);
}
h5, h6 {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-small);
}

p, 
a,
ol,
address
{
    font-size: var(--font-size-small);
    letter-spacing: var(--font-spacing-medium);
    line-height: var(--line-height-medium);
}

/* ============
*   Global
*    Classes
============ */
.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.btn {
    border: 0;
    border-radius: 3px;
    background-color: var(--purple-400);
    color: var(--white);
    padding: 0.5rem 1rem;
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    letter-spacing: var(--letter-spacing-medium);
    cursor: pointer;
}

#menu-bar {
    display: none;
    font-size: xx-large;
    border-radius: 0;
}

.video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.scroll-top {
    display: none;
    position: absolute;
    bottom: 45px;
    right: 12px;
    width: 20px;
    height: 20px;
}

.scroll-top i {
    transform: translateX(6px);
}


/* ============
*   Page
============ */
.page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-height: 100vh;
    padding: 2.6rem 0;
}

@media (min-width: 768px) {
    .page {
        flex-direction: row;
    }

    .page__header {
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (min-width: 1024px) {
    .page {
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (min-width: 1280px) {
    .page {
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (min-width: 1600px) {
    .page {
        flex-direction: row;
        justify-content: space-between;
    }
}


/* ============
*   Page
*    Header
============ */
.page__header {
    display: flex;  
    flex:  1;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--white);
}

.header-logo-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;  
    margin-bottom: 2rem;
}

.logo-header {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.dark-mode {
    background-image: url("../image/dark-mode.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.navbar {
    margin-top: 2rem;
    padding: 2.2rem 0;
    background: var(--purple-400);
}

.navbar .list-links {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.list-item__link {  
    font-size: var(--font-size-medium);
    color: var(--white);
    letter-spacing: var(--letter-spacing-small);
    display: inline-block;
    position: relative;
}

.list-item__link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--purple-500);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.list-item__link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 1024px) {
    .navbar {
        display: none;
    }

    #menu-bar {
        display: block;
    }

    .navbar.active {
        margin-top:  .3rem;
        top: 83px;
        left:  0px;
        display: block;
        z-index: 1000;
        width: 100%;
        height: 526px;
        padding: 0.3rem 0;
    }

    .navbar.active .list-links {
        display: inline-block;
    }

    .navbar.active .list-links .list-item {
        border-bottom: 2px solid white;
        padding: 16px 0;
        padding-left:  26px;
    }

    .list-item .list-item__link {
        cursor: pointer;
    }
}
    

/* ============
* Google 
*  translate
*     element
============ */
.box-google-translate {
    background: #f2e6e6;
    padding: 12px!important;
}

.goog-te-gadget {
    white-space: wrap!important;
    float: right;
}


/* ============
*   Page 
*    Content
============ */
.page-content {
    margin:  4rem 0;
    padding: 0 2.6rem;
}


/* ============
*   Hero
============ */
.hero-container {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: 440px;
    background: rgba(0, 0, 0, 0.4);
    padding-left: 2rem;
    color: white;
    text-align: center;
}





/* ============
*   Scroll
*    Top
============ */
#scroll-top{
    position: fixed;
    transition: .5s linear;
    z-index: 1000;
}

#scroll-top.active{
    top:calc(100% - 12rem);
    display:  initial;
}
