.need-help {
	margin-bottom: 7rem!important;
}

.help-box {
	display: flex;
	flex-direction: row;
	justify-content: center;	
	align-items:  center;
	gap: 3rem;
	margin-top: 1rem;
}

.number-cvv,
.number-pm,
.number-samu {
	background:  #ddd;
	padding: 1rem;
	border-radius: 5px;
	cursor: pointer;
}

.help-box__numbers div img {
	width: 300px;
	max-width: 400px;
} 

.help-box__numbers div:not(:first-child) {
	margin-top:  2rem;
}
