.hero-container {
    margin-bottom: 3rem;
}

.page-content {
    gap: 0;
}

.container.mental-disease {
    width: 100%;
    margin-bottom: 2rem;
}

.box-google-translate-footer {
    margin-top: 3rem;;
}

.section-header {
    margin-bottom: 0px;
}
